#cabecera {
  background-color: #282c34;
  /* padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center; */
}

.logo {
  width: 70px;
  animation: App-logo-spin infinite 20s linear;
  text-align: right;
}

.mensaje {
  color: #61dafb;
  /* margin-left: 20px; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.imagenProducto {
  width: 10rem;
  height: 10rem;
}
